includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
        - config
        - database
        - tests/Support
    tmpDir: build/phpstan
    ignoreErrors:
        -
            identifier: larastan.noEnvCallsOutsideOfConfig
            path: config/*.php
